<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python URL Shortener App</title>
</head>
<body>

<form action="/generateKey" method="post">
    Submit your url here<br>
    <textarea name="original_url" rows="10" cols="30"></textarea>
    <br>
    <input type="submit" value="Submit">
</form>

<table border=1>
    {% for value in result %}
        <tr>
            <th>Shortened URL</th>
            <th>Original URL</th>
        </tr>
        <tr>
            <th><a href="{{ value["original_url"] }}">{{ value["id"] }}</a></th>
            <td> {{ value["original_url"] }} </td>
        </tr>
    {% endfor %}
</table>
</body>
</html>